<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <form class="container-fluid justify-content-start" action="/" method="get">
    <button class="btn btn-success me-3" type="submit">Online-Compiler</button>
  </form>
</nav>
